body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    margin-bottom: 0;
}

.navbar {
    justify-content: center;
}

.navbar-nav {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

.nav-item {
    margin: 0 15px; 
}

.nav-link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-link:hover {
    text-decoration: underline;
}

.dropdown-menu {
    background-color: rgb(37, 36, 36);
}

@media (max-width: 576px) {
    .navbar-brand img {
        width: 60px; 
        height: 70px;
    }
    .navbar-brand span {
        font-size: small; 
    }
    .nav-item {
        margin: 0; 
    }
}

footer {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}


footer .btn-danger {
    padding: 10px 20px;
    font-size: clamp(14px, 2vw, 18px); 
    border-radius: 5px;
}

@media (max-width: 576px) {
    footer h3 {
        font-size: 16px; 
    }

    footer img {
        width: 80px; 
        height: 80px;
    }

    footer .btn-danger {
        font-size: 12px; 
        padding: 8px 16px;
    }

    footer p {
        font-size: 12px; 
    }
}


@media (min-width: 576px) and (max-width: 992px) {
    footer .btn-danger {
        font-size: 16px; 
        padding: 10px 18px;
    }

    footer h3 {
        font-size: 18px;
    }
}